html{
    font-family: "Microsoft YaHei UI Light", serif;
    font-size: 18px;
    text-align: center;
}
body{
    border:3cm lightskyblue solid;
    border-left: none;
    border-right: none;
    padding: 10%;
}