html{
    font-family: "Microsoft YaHei UI Light", serif;
    text-align: center;
}
h1{
    font-size: 48px;
}
body{
    border:3cm lightskyblue solid;
    border-left: none;
    border-right: none;
    padding: 10%;
}
